[user]
	name = Kevin Hulquest
	email = kevin.hulquest@netapp.com
	signingkey = 60B7AC10E265AC40
[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
[core]
        editor = vim
        excludesfile = ~/.gitignore
[push]
        default = simple
[alias]
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	mrb = !sh ~/scripts/remote-merged-branches.sh
	rb = !sh ~/scripts/remote-branches.sh
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[commit]
	gpgsign = true
[gpg]
	program = gpg
[http]
	sslVerify = true
[https]
	sslVerify = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
